@import '../__globalStyles/__globalStyles.scss';

.main-page {
  &__body {
    @include flex(column);
    margin-top: 90px;
  }
  &__button {
    @include button;
    padding: 10px;
    margin: 10px 5px;
  }
  &__notification {
    @include flex(column);
    @include text(20px, red);
    min-width: 15rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: $light-background;
  }
  &__link {
    @include link();
  }
}
