@import '../../globalStyles/globalStyles.scss';

.header {
  background-color: $light-background;
  height: 5rem;
  @include flex(row, nowrap, center, space-between);
  padding: 0 10px;

  &__greet {
    @include text(35px, #472212ed);
    margin: 0 2rem;
    vertical-align: middle;
    font-style: italic;
  }
  &__menu {
    flex: 2;
    margin: 0 2rem;
  }
  &__navigation-list {
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin: 20px 0;
    padding: 0 25px;
  }
  &__navigation-item {
    list-style-type: none;
    padding-right: 10px;
  }
  &__menu-liner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(40, 40, 40, 0.738);
  }

  &__out-button {
    @include button;
    margin: 0 2rem;
  }
}
