@import '../../globalStyles/globalStyles.scss';

.up-button {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  background-color: rgba(71, 34, 18, 0.9294117647);
  right: 2rem;
  bottom: 2rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  @include flex;
  width: 4rem;
  height: 4rem;
  transition: opacity 1s ease-in-out;

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    background-color: rgba(111, 55, 31, 0.929);
  }
}
