.background {
  position: fixed;
  background-position: bottom;
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -999;

  &__blur {
    background: rgba(71, 34, 18, 0.2);
    backdrop-filter: blur(8px);
    height: 100vh;
    width: 100%;
  }
}
