body {
  background-color: #214c84;
  height: 100%;
  color: white;
}
h2 {
  color: black;
}
.bodyApp {
  padding: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  font-size: 40px;
  padding: 10px;
  margin: 10px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
a:hover {
  color: rgb(108, 223, 204);
}
.btn {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #3f93ff;
  border: 1px solid black;
  color: white;
  margin: 1rem;
}
.btn:active {
  background-color: #3f92ff86;
  transform: translate(0, 0.05em);
}
.btn:disabled {
  background-color: #37373786;
  transform: translate(0, 0);
}
.error {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
